
* {
    box-sizing: border-box;

}
:root {

    --font-family: cursive;
    --footer-color:200,100%,91%
}
body {
    background-image: url("./assets/17973908.jpg");
    background-color: #cccccc;
    background-position:center;
    overflow-x: hidden;
}

.intro {
    display: flex;
    width: 100%;
    height: 10%;
    flex-direction: column;
}

.intro_font {
    color: #272e56;
    font-family: var(--font-family);
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 81.5px;
}

.nav-item {
    margin: 10px
}
.discr_typo {
    color: #272e56;
    font-family: var(--font-family);
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: 44px;
}

.carrier {
    width: 100%;
    padding: 0px 3rem;

}

.carrier_typo {
    color: var(--neutrals-n-20, #272e56);
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-align: justify;
}

article {
    grid-area: content;
}

.vector-container {
    display: flex;
    justify-content: center;
    margin-left: 5rem;

}

.homepage-image-container {
    margin-top: 10rem;
    height: 0px;

}

.homepage-image-wrapper {

    transform: rotate(0deg);
}

.homepage-image-wrapper:hover {
    border-radius: 0.5rem ;
    overflow: hidden;
    animation: image-rotation 2s alternate-reverse;

}

.styling_profile_img {
    border-radius: 2.25rem
}

.works_layout {

    text-align: center;

}

.works_typo {

    color: var(--neutrals-n-20, #272e56);
    font-family: var(--font-family);
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-align: justify;
}

.works {
    margin-top: 5rem;
}

.card-item {
    cursor: pointer;
}
.card-height >img {

   aspect-ratio: 16/9;
   object-fit: cover;
   object-position: center;
   
}

.card>img {

    transition: 200ms transform ease-in-out
}
.card:hover >  img {

    transform:translateY(5%)
}


.seeproj {
    display: flex;
    justify-content: center;
}

.btnstyle {
    width: Hug (81px);
    height: Hug (48px);
    top: 283px;
    left: 339px;
    padding: 7px;
    border-radius: 6px;
    gap: 10px;
    color: #FFFFFF;
    background-color: #7cd1e8;

}



#accordion .card-header {
    margin-bottom: 8px;

}

.accordion-title {

    padding: 8px 0 8px 50px;
    background:  #70bae9;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    width: 100%;
    text-align: left;
    transition: .4s ease-in-out;
    border-radius: 5px;
}

.accordion-title:hover {
    padding-left: 60px;

}


.accordion-button:not(.collapsed) {
    color: #fff;
    background: #70bae9;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

.accordion-flush .accordion-item .accordion-button {
    border-radius: 5px;
}

.btnstyle:hover {
    box-shadow: -1px 1px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.contact_me {
    background-color: var(--primary-b-400, lightskyblue);
    flex-shrink: 0;
}

.contact_typo {
    color: #213744;
    text-align: center;
    font-family: var(--font-family);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
}

.contact_para {
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 100;
    color: #010b0d;
    width: 100%;

}

.footer {
    height: 100%;
    background-color: #213744;
}

.footernavs {
    margin-top: 1.5em;
    color:wheat;
    text-decoration: none;
}

.footernavs .hovi:hover {
    text-decoration: none;
    color: rgb(157, 25, 25);
    cursor: pointer;
    transform: scale(2);
}
#home,#contact {
    margin-top: 7rem;
}
#work {
    padding-top: 10%;
}
#skills {
    padding-top: 8%;
}

.homepage-image-wrapper img:hover {

    border: 2px ridge;
}
.card-height {
    border-radius:10px;
    border: 1px solid;
    height: 100%;
}

.text_area {

    height: 150px;
}

@media screen and (max-width:375px) {
    .footer {
        width: 100%;

    }
}
.Homepara {
    margin-top: 3rem;
}
.navposit {
    padding-left: 16px;
    padding-right: 16px;
    top: 0;
    background-color:  #70bae9;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
    position: fixed;
}
.text-alignment {
    text-align:center;
}

.working_text {
   
    font-family: var(--font-family);
    font-size: 110%;
    font-weight: 200;
}

.hovereffect a:hover {
    animation: hover-animation 3s ease-in;
    font-weight: bold;
   

}
@keyframes image-rotation {
    
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(14deg);

    }
}
@keyframes hover-animation {
    from {

        transform: translate(0%);
    }
    to {
        transform:translateX(15%)
    }
}
@media screen and (max-width:425px) {

    .working_text,
    .contact_para,
    .contact_typo,
    .carrier_typo,
    .discr_typo,
    .works_typo,
    .intro_font {

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


    }

}

@media screen and (max-width:425px) {
    .wrapping {
        flex-wrap: wrap;
    }
}
.fsize {
    font-size: 3rem;
    color: #f5fbff;
}
.iconhover a:hover {

    /* transition: 0.5s; */
    transform: scale(1.2);
}
